/** @format */

/* Parent Container with Min Height */
.careers-parent-container {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

/* Optional: If you want to ensure content is centered when there's less content */
.careers-parent-container {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.careers-parent-container .container {
  flex: 1;
}

/* Mobile Responsive for Parent Container */
@media screen and (max-width: 767px) {
  .careers-parent-container {
    /* min-height: 100vh; */
    padding: 1rem 0;
  }
}

@media screen and (max-width: 575px) {
  .careers-parent-container {
    min-height: 100vh;
    padding: 0.5rem 0;
  }
}


.careers-second {
  width: 90%;
  margin: auto;
  margin-top: 4rem;
}
.careers-second h5 {
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #e25845;
  margin: 0;
  text-align: center;
  font-family: Montserrat !important;
}
.careers-third {
  display: flex;
  gap: 2rem;
  border-top: 1px solid #000000;
  padding-top: 1rem;
  margin-top: 2rem;
}
.careers-third-left h4 {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #000000;
  margin: 0;
  font-family: Montserrat !important;
}
.careers-third-right {
  flex: 1;
}
.careers-third-right-div {
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
}
.careers-third-right div:last-child {
  border: none;
}
.careers-third-right-div-left h6 {
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  margin: 0;
  font-family: Quicksand !important;
}
.careers-third-right-div-left span {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  margin: 0;
  font-family: Quicksand !important;
}
.careers-third-right-div p {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #e25845;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-family: Quicksand !important;
}
.careers-fourth {
  width: 90%;
  height: 50px;
  background: #e2584533;
  margin: auto;
  margin-top: 4rem;
}

/* Mobile Responsive Styles */
@media screen and (max-width: 767px) {
  .careers-second {
    width: 95%;
    margin-top: 2rem;
    padding: 0 1rem;
  }
  
  .careers-second h5 {
    font-size: 24px !important;
    line-height: 32px !important;
    margin-bottom: 1rem;
  }
  
  .careers-third {
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
    margin-top: 1.5rem;
  }
  
  .careers-third-left h4 {
    font-size: 18px !important;
    line-height: 26px !important;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .careers-third-right-div {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  
  .careers-third-right-div-left {
    width: 100%;
  }
  
  .careers-third-right-div-left h6 {
    font-size: 16px !important;
    line-height: 22px !important;
    margin-bottom: 0.3rem;
  }
  
  .careers-third-right-div-left span {
    font-size: 14px !important;
    line-height: 18px !important;
  }
  
  .careers-third-right-div p {
    font-size: 16px !important;
    line-height: 22px !important;
    align-self: flex-end;
    margin-top: 0.5rem;
  }
  
  .careers-fourth {
    width: 95%;
    height: 40px;
    margin-top: 2rem;
  }
  
  .trust-top-left h1 {
    font-size: 15px !important;
    line-height: 18px !important;
    width: 100% !important;
  }
  
  .trust-top-left p {
    font-size: 15px !important;
    line-height: 18px !important;
    width: 100% !important;
  }
}

/* Extra small devices (phones, less than 576px) */
@media screen and (max-width: 575px) {
  .careers-second {
    width: 100%;
    padding: 0 0.5rem;
    margin-top: 1.5rem;
  }
  
  .careers-second h5 {
    font-size: 20px !important;
    line-height: 28px !important;
  }
  
  .careers-third {
    gap: 0.5rem;
  }
  
  .careers-third-left h4 {
    font-size: 16px !important;
    line-height: 22px !important;
  }
  
  .careers-third-right-div-left h6 {
    font-size: 15px !important;
    line-height: 20px !important;
  }
  
  .careers-third-right-div-left span {
    font-size: 13px !important;
    line-height: 16px !important;
  }
  
  .careers-third-right-div p {
    font-size: 14px !important;
    line-height: 20px !important;
    gap: 0.2rem;
  }
  
  .careers-fourth {
    height: 35px;
    margin-top: 1.5rem;
  }
}


