/** @format */

/** @format */

.home-products {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* Exactly 7 cards in one row */
  gap: 0.5rem;
  margin-top: 1rem;
}


.home-products-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.home-products-button button {
  width: 111.36px;
  height: 44px;
  padding: 8px 11.67px 8px 12px;
  border-radius: 24px;
  background: #e25845;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #d1d5db;
  margin: 0;
  border: none;
  outline: none;
  cursor: pointer;
}
